@model Modelo.Entidades.Servidor

@{
    ViewBag.Title = "AdicionarServidor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-6 offset-md-3 mt-50">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">Novo Servidor</h3>
            </div>
            <div class="block-content">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-6" })
                    @Html.LabelFor(model => model.ServidorIp, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ServidorIp, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ServidorIp, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.AmbienteServidor, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-12">
                        @Html.EnumDropDownListFor(model => model.AmbienteServidor, "Selecionar Ambiente do Servidor", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AmbienteServidor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Servicos, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Servicos, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Servicos, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-12">
                        @*<textarea class="form-control" id="example-textarea-input" name="example-textarea-input" rows="6" placeholder="Content.."></textarea>*@
                        @Html.TextAreaFor(model => model.Observacao, new { @size = 10, @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success pull-right">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section	ScriptPage	{
    <script src="@Url.Content("~/Scripts/Views/Servidor/AdicionarServidor.js")"></script>
}